.env
secrets.yml
.DS_Store
node_modules/
dist/
.vscode/
*.log
.idea/
*.iml
coverage/
*.sqlite3
tmp/
*.bak
*.swp
*.pid
*.seed
*.orig
*.rej
*.class
*.war   
*.jar
*.exe
*.dll
*.so
*.obj
*.o
*.out
*.bin
*.log
*.zip
*.tar.gz
*.7z
*.rar